@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #1a0327;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/b.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 10vh;
    background:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}
.logo .fas{
    font-size: 50px;
}
ul.navbar{
    display: flex;
    list-style: none;
}
ul.navbar li{
    width: 120px;
}
ul.navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
ul.navbar li a.active{
    color: #FEC53A;
}
ul.navbar li a:hover:not(.active){
    color: #FEC53A;
}
#btn{
    width: 250px;
    height: 10vh;
    background: #FEC53A;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}
#btn a{
    text-decoration: none;
    color: #000;
}
#btn a:hover{
    text-decoration: none;
    color: #ffffff;
}
#btn .fas{
    margin-right: 10px;
}

/* Content desc starts here */
.content-wrapper{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
/* .content-desc{
} */


.content-desc h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.content-desc p{
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.content-desc span{
    color: #FEC53A;
}
#btn2{
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: none;
    background: #FEC53A;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
    border-radius: 20px;
    text-align: left;
}
.rakuto{
    width: 400px;
    height: 400px;
    background: linear-gradient(rgba(38, 2, 39, 0.849),rgb(204, 115, 14));
    background-size: cover;
    background-position: center;
    position: relative;
}
.rakuto::before{
    content: '';
    width: 160px;
    height: 160px;
    background: url(../images/cube.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 200px;
}
.rakuto::after{
    content: '';
    width: 400px;
    height: 400px;
    background: url(../images/rakuto.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    left: -150px;
}
.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.logo-section .fas{
    font-size: 6rem;
    color: #FEC53A;
}
.logo-section h1{
    width: 250px;
    font-size: 2rem;
    color: #FEC53A;
    margin-left: 10px;
}

/* ============================== */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-container{
    width: 100%;
    min-height: 100vh;
    display: flex; 
}
.bg-1{
    flex: 1;
    background-image:linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url("../images/flame.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bg-2{
    flex: 1;
    background-image:linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url("../images/flame.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-container{
    width: 85%;
    min-height: 80vh;
    position: absolute;
    background-color: #FEC53A;
    box-shadow: 24px 24px 30px #6d8dad;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 5px;
}
.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
}
.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 22px;
}
.text-container h1{
    font-size: 70px;
    padding: 20px 0px;
}
.text-container a{
    text-decoration: none;
    padding: 12px;
    margin: 50px 0px;
    background-color: rebeccapurple;
    border: 2px solid transparent;
    color: white;
    border-radius: 5px;
    transition: .3s all ease;
}
.text-container a:hover{
    background-color: transparent;
    color: black;
    border: 2px solid rebeccapurple;
}
@media screen and (max-width: 1600px){
    .about-container{
        width: 90%;
    }
    .image-container img{
        width: 400px;
        height: 400px;
    }
    .text-container h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 1100px){
    .about-container{
        flex-direction: column;
    }
    .image-container img{
        width: 300px;
        height: 300px;
    }
    .text-container {
        align-items: center;
    }
}

/* =============================== */


/* .section-2{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url("../images/flame.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-2 h1{
    font-size: 2rem;
    color: #fff;
    margin: 20px 0;
}
.players{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.p-image{
    width: 200px;
    height: 200px;
    background: url(../images/Poke8.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
}
.p-image-1::after{
    content: 'VS';
    position: absolute;
    right: -35px;
    bottom: 0;
    font-size: 2rem;
    color: #FEC53A;
}
.players span{
    font-size: 1.5rem;
    color: #FEC53A;
    font-weight: bold;
    margin-bottom: 10px;
}
.stars{
    color: #FEC53A;
}
.p-image-2{
    background: url(../images/Poke6.jpg);
    background-size: cover;
    background-position: center;
}

.p-image-2{
    background: url(../images/Poke6.jpg);
    background-size: cover;
    background-position: center;
}
.p-image-3::after{
    content: 'VS';
    position: absolute;
    right: -35px;
    bottom: 0;
    font-size: 2rem;
    color: #FEC53A;
}
.p-image-4{
    background: url(../images/Poke6.jpg);
    background-size: cover;
    background-position: center;
} */

/* section 3 starts here */

.section-3{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/controller.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* .section-3 h1{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
} */

.section-3-wrapper{
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
}

/* *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
} */

.section-3{
    /* background:linear-gradient(45deg, blueviolet, lightgreen); */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/controller.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:15px 9%;
    padding-bottom: 100px;
}

.section-3 .heading{
    text-align: left;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.section-3 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:15px;
}

.section-3 .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 20px;
    background: #FEC53A;
    text-align: right;
    padding:30px 20px;
    box-shadow: 8px 8px 10px #6d8dad
}

.section-3 .box-container .box-heading{
    text-align: left;
}

.section-3 .box-container .box img{
    height: 80px;
}

.section-3 .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.section-3 .box-container .box p{
    color:black;
    font-size: 15px;
    line-height: 1.8;
}

.section-3 .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:blueviolet;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.section-3 .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.section-3 .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .section-3{
        padding:20px;
    }
}
/* FOoter section */
footer{
    width: 100%;
    height: 55vh;
    background: #282828;
    display: flex;
    align-items: center;
    
}
.footer-body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    height: 12vh;
    background-color: #FEC53A;
    color: #000;
    line-height: 1.7rem;
}
ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #FEC53A;
    margin-right: 15px;
}
ul li a:hover{
    color: #FEC53A;
}
.footer-bottom{
    width: 100%;
    height: 7vh;
    background: #1B1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}
.footer-bottom span{
    color: #FEC53A;
    font-weight: bold;
}